a {
    color: #fff;
}
.fa {
    font-size: 25px;    
    color: #whitesmoke;
}
.header {
    background: #FF7849;
    padding: 10px;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.button-close {
    border: 0;
    background: transparent;
}
.nav:before,
.nav:after{
    display:none;
}