<div>
  <div>

    <form>
      <fieldset>

      <h2>Dale un toque más personal a tu perfil</h2>

      <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

        <div class="">
          <label> ¿Cual es tu pais actual de residencia? </label>
          <div class="from-group">
            <input type="text" placeholder="lugar de residencia" autocorrect="off" autocapitalize="off" spellcheck="off"  class="form-control" #search>
          </div>
        </div>

        <div class="">
          <label> Cuenta algo más sobre tu persona para que puedan conocerte mejor</label>
          <input type="text" [(ngModel)]="details" name="details"/>
        </div>



      </fieldset>
      <button (click)="editprofile()" type="submit" name="action">subir archivos</button>
    </form>
<h1>

  {{user._id}}
</h1>

    <a [routerLink]="['/user']"> Continuar </a>




    </div>
   </div>
