
<h1>A DONDE NOS VAMOS</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="container">
  <div class="from-group">

    <input type="text" placeholder="Busca tu destino" autocorrect="off" autocapitalize="off" spellcheck="off"  class="form-control" #search>

  </div>
</div>

<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<h1>{{title}}</h1>
<h1>{{ placeName}}</h1>
  <button (click)="shareAndGo()">vamonos!!!!!!</button>


<!-- <button (click)="findThisPlace()"> vamonos! </button> -->

<p>Example of the range selection</p>

<ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
</ngb-datepicker>

<ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<hr>
