
<h1>A DONDE NOS VAMOS</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="container">
  <div class="from-group">

    <input type="text" placeholder="Busca tu destino" autocorrect="off" autocapitalize="off" spellcheck="off"  class="form-control" #search>

  </div>
</div>

<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<h1>{{title}}</h1>
<h1>{{ placeName}}</h1>
  <a [routerLink]="['/holiday', title, placeName, otherLat, otherLng]">vamonos!!!!!!</a>


<!-- <button (click)="findThisPlace()"> vamonos! </button> -->
