<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <ul>
  <li><a [routerLink]="['/']">Home</a></li>
  <li><a [routerLink]="['/user']">User Profile</a></li>
  <li><a [routerLink]="['/login']">Login</a></li>
  <li><a [routerLink]="['/signup']">Sing Up</a></li>
  <li><a [routerLink]="['/editprofile/:id']">Edit Profile</a></li>
  <li><a [routerLink]="['/map']">go to map</a></li>
  <li><a [routerLink]="['/allusers']">have a look to all users</a></li>

  </ul> -->
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
<!-- </div> -->
