.traveler {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.container {
    text-align: center;
}

.cuadrado {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid orange;
}

.grey{
  background-color:  #3C4858;
  color: whitesmoke;
}

.traveler img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.plan {
    padding: 20px;
}

.going {
    text-align: center;
}
.user {
    float: left;
}
.all-users {
    display: inline-block;
}
.comment {
    padding-top: 10px;
    border-bottom: 1px solid orange;
}
.plan-title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 10px;
}

.little {
    opacity: 0.7;
    text-align: right;
}

.btn-send {
    float: right;
    margin-top: 10px;
}

agm-map {
  height: 150px;
}

.mapeo{
  padding:  10px

}

.info{
  text-align: center;
}

.dark{
  color: black;
}
