<div class="plan" *ngIf='unicplan'>


<div>
  <h2 class="plan-title"> {{ unicplan.plan }} - {{ unicplan.day }}/{{unicplan.month}}/{{unicplan.year}}</h2>
  <p> {{ unicplan.details }} </p>
  <p class="little"> Propuesto por: {{unicplan.user}}</p>
</div>


<div *ngIf="isHeGoing">
  <div *ngIf='isHeGoing.length == 0'>
    <p>te interesa el plan y te gutsaria formar parte?</p>
    <button (click)="newConexion()">voy a ir! </button>
  </div>
</div>

<h3>Viajeros que ya se han unido al plan</h3>
  <div>
    <a [routerLink]="['/traveller', user.userId._id]" class="traveler" *ngFor="let user of allUsersGoingToPlan | async">
      <img [src]= "urlTxatxi + user.userId.photo" height=50/>
      <p> {{ user.userId.username }} </p>
    </a>
  </div>

  <button (click)="goBack()"> vuelve a la busqueda </button>

<h2>Deja un comentario</h2>
  <div class="input-group">
    <textarea class="form-control"  placeholder="Escribe tu comentario" type="text" [(ngModel)]="comment" name="comment">
    </textarea>
    <button class="btn-send btn btn-default" (click)="newComment()">Enviar</button>
  </div>

<h3>Comentarios del plan:</h3>
  <div>
    <div *ngFor="let comment of allComments | async">
      <p> comentario de {{ comment.userId.username }} </p>
      <p>{{ comment.comment }}</p>
    </div>
  </div>
</div>
<div *ngIf="isHeGoing">
  <div *ngIf='isHeGoing.length !== 0'>
    <app-chat [ngClass]="{'open': chatStatus}" class="main__aside" ></app-chat>
  </div>
</div>
