<div *ngIf='unicplan'>

<!-- DETALLES DEL PLAN -->

<div class="grey">

<div class="info">
  <h2 class="plan-title"> {{ unicplan.plan }} </h2>
  <p> " {{ unicplan.details }} "</p>
  <p > Propuesto por: {{unicplan.user}}</p>
  <p > Fecha: {{ unicplan.day }}/{{unicplan.month}}/{{unicplan.year}}</p>
  <p > En: {{unicplan.place}}</p>
</div>

<!-- PLAN EN MAPA -->
<div class="mapeo">
<agm-map [latitude]="unicplan.lat" [longitude]="unicplan.lng" [scrollwheel]="false" >
  <agm-marker  [latitude]="unicplan.lat" [longitude]="unicplan.lng" [markerDraggable]= FALSE >
    <agm-info-window>
      <strong> {{ unicplan.plan }}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
</div>

</div>

<p-accordion>

  <p-accordionTab header="Viajeros que asistiran al plan">

    <!-- BOTON DE UNIRSE AL PLAN -->

    <div *ngIf="isHeGoing">
      <div *ngIf='isHeGoing.length == 0'>
        <p>¿Te interesa el plan y te gutsaria formar parte?</p>
        <button (click)="newConexion()">voy a ir! </button>
      </div>
    </div>

    <!-- LISTA DEVIAJEROS QUE VAN AL PLAN -->

    <div>
      <div *ngIf="allUsersGoingToPlan">
        <div *ngIf='allUsersGoingToPlan.length == 0'>
          <p>Ningun viajero asistirá por el momento. Sé el primero en unirte al plan</p>
        </div>


        <div *ngIf='allUsersGoingToPlan.length > 0'>
          <div *ngFor="let user of allUsersGoingToPlan">
            <a [routerLink]="['/traveller', user.userId._id]" class="traveler">
            <img [src]= "urlTxatxi + user.userId.photo" height=50/>
            <p>{{ user.userId.username }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </p-accordionTab>

  <!-- ESPACIIO -->

  <p-accordionTab header="Foro sobre  {{ unicplan.plan }}" >
    <!-- COMENTARIO FROM -->

    <h2></h2>
      <div class="input-group">
        <textarea class="form-control"  placeholder="Escribe tu comentario" type="text" [(ngModel)]="comment" name="comment">
        </textarea>
        <button class="btn-send btn btn-default" (click)="newComment()">Enviar</button>
      </div>


    <!-- COMENTARIOS DEL PLAN -->

    <h3>Comentarios del plan:</h3>
      <div>
        <div *ngIf="allComments">
          <div *ngIf='allComments.length == 0'>
            <p>No hay comentarios. ¿Algun consejo o duda? Sé el primero en compartir tu experiencia sobre {{ unicplan.plan}} </p>
          </div>
          <div *ngIf='allComments.length > 0'>
            <div *ngFor="let comment of allComments">
              <p> comentario de {{ comment.userId.username }} </p>
              <p>{{ comment.comment }}</p>
            </div>
          </div>
        </div>
      </div>

  </p-accordionTab>

<div *ngIf="isHeGoing">
 <div *ngIf='isHeGoing.length !== 0'>

  <p-accordionTab header="Chat de  {{ unicplan.plan }}" >
      <app-chat [ngClass]="{'open': chatStatus}" class="main__aside" ></app-chat>
  </p-accordionTab>

</div>
</div>
</p-accordion>





<h3></h3>







</div>

<!-- CHAT -->





<!-- BOTON DE VOLVER A LA BUSQUEDA

<button (click)="goBack()"> vuelve a la busqueda </button> -->
