<header class="grey">
    <h2> Login <i class="fa fa-user-circle-o"></i></h2>
</header>
<section class="container">
  <form class="form-group">
    <input placeholder="Email" class="form-control" type="text"  name="email"/>
    <br>
    <input placeholder="Username" class="form-control" type="text" [(ngModel)]="formInfo.username" name="username"/>
    <br>
    <input placeholder="Password" class="form-control" type="password" [(ngModel)]="formInfo.password" name="password"/>
    <div class="align-center">
      <button class="btn btn-warning" (click)="login()"> login </button>
    </div>
  </form>
</section>
