  <div *ngIf="!user">
  <h2>NO USER LOGGED IN</h2>
</div>

<!-- CUANDO HAY USUARIO -->
<div *ngIf="user">

<!-- INFORMACION DE USUARIO -->
  <div class="img col-sm-3">
    <img class="photo" [src]= "urlTxatxi + user.photo" height=300/>
    <h2>{{ user.username }}</h2>

    <h3>Acerca de ti:</h3>
    <p>" {{user.details}} " </p>

    <h3>Lugar de residencia:</h3>
    <p>{{user.country}} </p>
  </div>

<!-- MUESTRA LOS PLANES PROPUESTOS POR EL USUARIO, SI LOS HAY -->

<p-accordion>
    <p-accordionTab header="Tus planes propuestos">
    <div class="plans">
      <div class="plan" *ngIf='allPlansProposed'>
        <div *ngIf='allPlansProposed.length == 0'>
          <div class="">
            <P>Aun no has propuesto ningun plan</P>
          </div>
        </div>

        <div *ngIf='allPlansProposed.length > 0'>
          <div class="plans">
            <div class="plan" *ngFor="let plan of allPlansProposed">
              <h3> {{ plan.plan }} </h3>
              <a [routerLink]="['/unicPlan',plan._id]"> Ver detalles del plan </a>
              </div>
          </div>
        </div>
      </div>
    </div>
    </p-accordionTab>
    <p-accordionTab header="Va a asistir">
  <div class="plans">
      <div *ngIf='allPlansGoing'>
        <div class="plan" *ngIf='allPlansGoing.length == 0'>
          <div class="">
            <P>Aun no te has unido a ningun plan</P>
          </div>
        </div>


          <div class="plan" *ngIf='allPlansGoing.length > 0'>
            <div class="plans">
              <div class="plan" *ngFor="let plan of allPlansGoing">
              <h3> {{ plan.planId.plan }} </h3>
              <a [routerLink]="['/unicPlan', plan.planId._id]"> Mas detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>

</p-accordion>

<!-- LINKS A EDITAR Y AL BUSCADOR -->
  <div class="links">
    <a class="link col-sm-6" [routerLink]="['/map']"> Buscar planes <i class="fa fa-search"></i></a>
    <a class="link col-sm-6" [routerLink]="['/editprofile', user._id]"> <i class="fa fa-edit"></i>Edita tu perfil</a>
  </div>

</div>
