

<h1>BIENVENIDO A {{ placename }}</h1>

<p>vas a visitar este lugar? Indicalo, y te mandaremos todas las actividades</p>
<button (click)="newConexion()">voy a ir! </button>


<h3>Gente que visitará el lugar:</h3>
  <div >
    <div *ngFor="let conexion of allConexions | async" class="cuadrado">
      <p> {{ conexion.user }} </p>
      <button pButton type="button" [routerLink]="['/traveller', conexion.userId]" label="ver detalles del usuario" class="ui-button-secondary"></button>
    </div>
  </div>

  <agm-map
   [latitude]="lat"
   [longitude]="lng"
   >
      <agm-marker
      *ngFor="let p of allPoints | async"
      [latitude]="p.lat"
      [longitude]="p.lng"
      [markerDraggable]= FALSE
      >
        <agm-info-window>
          <strong> {{ p.planName }}</strong>
        </agm-info-window>

    </agm-marker>
  </agm-map>


<h3>Actividades propuestas:</h3>
<div>
  <div *ngFor="let plan of allPlans | async" class="cuadrado">
    <h3> {{ plan.plan }} </h3>
    <p>propuesto por: {{plan.user}}</p>
    <a [routerLink]="['/unicPlan',plan._id]"> Ver detalles del plan </a>
  </div>
</div>







<div class="createPlan center">

<form>
    <h3> ALgun plan en mente? </h3>
    <p>Comparte tus vivencias!</p>

    <agm-map
    [latitude]="lat"
     [longitude]="lng"
     (mapClick)= "mapCliqueado($event)"
     >
        <agm-marker
        (markerClick)="marcadorCiqueado()"
        [latitude]="lat"
        [longitude]="lng"
        [markerDraggable]= "arrastable"
        (dragEnd) = "posicionFinalMarcador($event)"

        >
          <agm-info-window>
            <strong> {{ placename }}</strong>
          </agm-info-window>


      </agm-marker>
    </agm-map>

<label>Titulo del plan</label>
<input type="text" [(ngModel)]="plan" name="plan"/>
<label>Descripcion</label>
<input type="text" [(ngModel)]="details" name="details"/>


<button (click)="newPlan()"> comparte tu plan! </button>

</form>

</div>
