

<h1>BIEN VENIDO A {{unicPlace.name }}</h1>



<h3>Gente que visitará el lugar:</h3>
<p>{{unicPlace.people}}</p>

<h3>Fotitos del lugar</h3>
<p>{{unicPlace.pictures}}</p>

<h3>Actividades propuestas:</h3>
<div>
  <div *ngFor="let plan of allPlans | async">
    <h3> {{ plan.plan }} </h3>
    <!-- <p> {{ plan.details }} </p> -->
    <p>propuesro por: {{plan.user}}</p>
    <a [routerLink]="['/unicPlan',plan._id]"> Ver detalles del plan </a>
  </div>
</div>


<form>
    <h3> ALgun plan en mente? </h3>
    <p>Comparte tus vivencias!</p>

<label>Titulo del plan</label>
<input type="text" [(ngModel)]="plan" name="plan"/>
<label>Descripcion</label>
<input type="text" [(ngModel)]="details" name="details"/>


<button (click)="newPlan()"> comparte tu plan! </button>

</form>
