agm-map {
  height: 300px;
}

.mapa{
  height: 300px;
  clear: both;
}

>>> .ui-carousel-item {
  text-align: center;
  background: none;
}

>>> .ui-carousel-header{
background-color:  #3C4858;

}

.grey{
  background-color:  #3C4858;
  color: whitesmoke;
}

.legends {
  border: 0;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.photo-input{
  display:none;
}

.formm {
  text-align: center;
}

.formm .btn {
  margin-bottom: 15px;
}

.file-label {
  font-size: 32px;
  margin-right: 10px;
  cursor: pointer;
}
.plans {
    width: 100%;
    display: inline-block;
}
.plan {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.plan a {
  color: gray;
}
.plan h3{
    margin-top: 0;
}

.place {
  padding: 20px;
}

.title {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  margin: 0;
  text-align: center
}

.photo {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 2px solid white;
}

.traveler img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.carrousel{
  background: greenyellow;
}

.createPlan{
  clear: both;
background-color: #c14848;
  margin-top: 200px;
}

.usersvisiting{
  clear: both;
  background-color: orange;
  margin-top: 200px;
}
